<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>Bienvenido, {{ user.username }}!</li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
