{% extends 'base.html' %}
{% block content %}
  <h2>Inicio de sesión</h2>
  
  {% if messages %}
    <div>
      {% for message in messages %}
        <p style="color:red;">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
  
  <form method="POST">
    {% csrf_token %}
    <label for="username">Usuario:</label>
    <input type="text" name="username" required>
    
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>

    <button type="submit">Ingresar</button>
  </form>
{% endblock %}
